<!DOCTYPE html>
<html>
 

<body id="myPage" data-spy="scroll" data-target=".nav bar" data-offset="50">
    @RenderBody()

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Parks</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
                    <li><a asp-controller="Home" asp-action="Parks">PARKS</a></li>
                    <li><a asp-controller="Home" asp-action="Activities">ACTIVITIES</a></li>
                    <li><a asp-controller="Home" asp-action="Stats">STATS</a></li>
                    <li><a asp-controller="Home" asp-action="Index" asp-fragment="contact">ABOUT US</a></li>
                    <li><a asp-controller="Home" asp-action="FAQ" >FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>

</body>
</html>